<?xml version="1.0" encoding="UTF-8"?>
<plugin id="linkedin.to.pdf">
    <require plugin="org.dita.pdf2"/>
    <transtype name="linkedin-cv" extends="pdf" desc="Linkedin CV to DITA CV to PDF"/>
    <transtype name="dita-cv" extends="pdf" desc="DITA CV to PDF"/>
    <feature extension="ant.import" file="conductor.xml"/>
</plugin>
